.BodyContainer {
  width: 100vw;
  height: 85vh;
  display: flex;
}

.Navbar {
  width: 15vw;
  background: #37392e;
}

.Content {
  width: 85vw;
  padding: 30px;
  background-image: #eee5e5;
  overflow: auto;
  &::-webkit-scrollbar {
    display: none;
  }
}

.appContainer {
  &::-webkit-scrollbar {
    display: none;
  }
}

@media screen and (max-width: 900px) {
  .BodyContainer {
    flex-direction: column;
    height: 100%;
  }
  .Navbar,
  .Content {
    width: 100%;
    padding: 0px;
    margin: 0;
  }
}
