@import url("https://fonts.googleapis.com/css?family=Montserrat|PT+Sans|Quicksand&display=swap");

.menuItems {
  li {
    padding: 20px;
    width: 100%;
    transition: 0.2s;
    &:hover {
      background: aquamarine;
    }
  }
  a {
    color: #ddcecd;
    font-size: 1.4rem;
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Quicksand", sans-serif;
    &:hover {
      color: rgb(85, 85, 85);
    }
  }
}

.home,
.messages,
.cog,
.plus {
  display: none;
}

@media screen and (max-width: 900px) {
  .menuItems {
    display: flex;
    height: 10vh;
    padding: 10px;
    justify-content: space-around;
  }
  .home,
  .messages,
  .cog,
  .plus {
    display: block;
    width: 100%;
    height: 100%;
    &:hover {
      color: white;
    }
  }
  li {
    display: none;
  }
}
