@import url("https://fonts.googleapis.com/css?family=Montserrat|PT+Sans|Quicksand&display=swap");

.menuItems {
  li {
    padding: 15px;
    width: 100%;
    transition: 0.2s;
    &:hover {
      background: aquamarine;
    }
  }
  a {
    color: #ddcecd;
    font-size: 1.4rem;
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Quicksand", sans-serif;
    &:hover {
      color: rgb(85, 85, 85);
    }
  }
}

.login {
  display: none;
}

@media screen and (max-width: 900px) {
  li {
    text-align: center;
  }
  .login {
    display: block;
  }
}
