.search {
  width: 100%;
  input {
    width: 85%;
    height: 50px;
    padding: 10px;
    border: none;
    border-bottom: 3px solid #7fffd4;
    background: #19647e;
    color: #ffffff;
    font-size: 1.5rem;
    text-transform: uppercase;
    &::placeholder {
      color: white;
      opacity: 0.5;
    }
    &:focus::placeholder {
      transition: 0.3s;
      color: transparent;
    }
  }
  form:focus,
  form:active {
    outline: 0;
  }
  button {
    color: #7fffd4;
    background: none;
    display: inline-block;
    width: 15%;
    height: 48.5px;
    border: none;
    border-bottom: 3px solid #7fffd4;
    padding: 10px;
    cursor: pointer;
  }

  @media screen and (max-width: 900px) {
    button {
      color: #7fffd4;
      background: none;
      display: inline-block;
      width: 15%;
      height: 48px;
      border: none;
      border-bottom: 3px solid #7fffd4;
      padding: 10px;
    }
    input {
      width: 85%;
    }
  }
}
