.search {
  width: 100%;
  input {
    width: 100%;
    height: 50px;
    padding: 10px;
    border-bottom: 3px solid #7fffd4;
    border-top: none;
    border-left: none;
    border-right: none;
    background: #2591b5;
    background: #19647e;
    color: #ffffff;
    font-size: 1.5rem;
    text-transform: uppercase;
    &::placeholder {
      color: white;
      opacity: 0.5;
    }
    &:focus::placeholder {
      transition: 0.3s;
      color: transparent;
    }
  }
  form:focus,
  form:active {
    outline: 0;
  }
  button {
    background: none;
    border: none;
    color: #7fffd4;
    display: none;
  }
  @media screen and (max-width: 900px) {
    button {
      display: inline-block;
      width: 15%;
      border-bottom: 3px solid #7fffd4;
      height: 48px;
    }
    input {
      width: 85%;
    }
  }
}
