.search {
  width: 100%;
  input {
    width: 100%;
    height: 50px;
    padding: 10px;
    border-bottom: 3px solid #7fffd4;
    border-top: none;
    border-left: none;
    border-right: none;
    background: #2591b5;
    background: #19647e;
    color: #ffffff;
    font-size: 1.5rem;
    text-transform: uppercase;
    &::placeholder {
      color: lightgray;
    }
    &:focus::placeholder {
      transition: 0.3s;
      color: transparent;
    }
  }
  form:focus,
  form:active {
    outline: 0;
  }
}
